
    <div class="login-container">
        <h2 class="mb-4">Login to Your Account</h2>
        <button class="btn btn-outline-light login-button" onclick="window.location.href='/auth/github'">
            <i class="fab fa-github logo"></i> Login with GitHub
        </button>
        <button class="btn btn-outline-danger login-button" onclick="window.location.href='/auth/gitlab'">
            <i class="fab fa-gitlab logo"></i> Login with GitLab
        </button>
    </div>
