<body>
    <div class="container mt-4 text-center">
      <h1>Welcome to Your Repositories</h1>
      <p>Select a repository from the dropdown:</p>

      <% if (repos && repos.length > 0) { %>
      <div class="selection">
        <div class="custom-select" id="repoSelect" style="margin: 20px 0px;">Select a repository</div>
        <div class="custom-select-container" id="repoSelectContainer"></div>

        <div class="custom-select" id="branchSelect" style="display: none;">Select a branch</div>
        <div class="custom-select-container" id="branchSelectContainer" style="display: none;"></div>
      </div>

      <div id="repoDetails" class="repo-details mt-4" style="display: none;">
        <h4>Repository Details</h4>
        <p id="repoName"></p>
        <p id="repoDescription"></p>
        <small id="repoDate"></small>
      </div>

      <% } else { %>
      <div class="alert alert-info" role="alert">
        You have no public repositories to display.
      </div>
      <% } %>
    </div>
  </body>
